*{
    font-family:'segon ui',Tahona,genva,verdana,sans-serf;
    font-size:20px;
}
#list{
    color:green;
}
.list1{
    color:brown;
}
.ul1{
background-color: red;
color:white;
width:25%;
padding: 10px;
margin: 20px;
border: 5px solid black;
border-radius: 10px;
transition: 0.5 ease-in-out;
}
.ul1:hover{
    background-color: green;
    border: 1px solid black;
}
ul1 ol l1{
    font-size: 20px;
    font-weight:700;
}
table,th,td{
    border: 1px solid black;
}
